//@import "avtodiski";

//@import "utils/vars";
//@import "utils/mixins";
//@import "utils/normalize";
//@import "utils/reset";
//@import "utils/base";
//@import "utils/fonts";

//@import "popup/popup-buy";
//@import "popup/popup-buy-substrate";
//@import "popup/popup-buy-content";
//@import "popup/popup-buy-title";
//@import "popup/popup-buy-close";
//@import "popup/popup-buy-detail";
//@import "popup/popup-button-order";
//@import "popup/popup-button-continue";
//@import "popup/popup-button-wrapper";
//@import "popup/form-quick-order";



//@import "button-tel/order-tel";
//@import "button-tel/order-tel-title";
//@import "button-tel/order-tel-dropdown";
//@import "button-tel/order-tel-list";
//@import "button-tel/order-tel-link";



//@import "calculation/calculation";

/*
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:after, &:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
*/

@import "main-page/header-main/header-main";
@import "main-page/header-main/header-main-menu-top";
@import "main-page/header-main/header-main-login";
@import "main-page/header-main/header-main-row";
@import "main-page/header-main/header-main-logo";
@import "main-page/header-main/header-main-tel";
@import "main-page/header-main/header-main-tel-list";
@import "main-page/header-main/header-main-tel-block";
@import "main-page/header-main/header-main-callback";
@import "main-page/header-main/header-main-search";
@import "main-page/header-main/form-search-desktop";
@import "main-page/header-main/header-main-work-time";
@import "main-page/header-main/header-main-language-list";
@import "main-page/header-main/header-main-menu-bottom";
@import "main-page/header-main/header-main-cart";
@import "main-page/header-main/button-main-cart";
@import "main-page/header-main/header-main-fixed";

@import "main-page/page-content";

@import "main-page/filter-main/filter-main";
@import "main-page/filter-main/filter-main-list";
@import "main-page/filter-main/filter-main-block";
@import "main-page/filter-main/filter-main-panel";
@import "main-page/filter-main/button-filter-switch";
@import "main-page/filter-main/filter-main-body";
@import "main-page/filter-main/filter-main-title";
@import "main-page/filter-main/filter-main-clear";
@import "main-page/filter-main/button-filter-clear";

@import "main-page/section-page/section-page";
@import "main-page/section-page/section-page-title";
@import "main-page/section-page/section-page-header";
@import "main-page/section-page/section-page-panel";
@import "main-page/section-page/section-page-body";
@import "main-page/section-page/section-page-view-all";
@import "main-page/section-page/button-view-all";
@import "main-page/section-page/button-section-switch";
@import "main-page/section-page/action-desktop";
@import "main-page/section-page/articles-desktop";
@import "main-page/section-page/reviews-desktop";



@import "main-page/footer-main/footer-main";
@import "main-page/footer-main/payment-methods";
@import "main-page/footer-main/footer-main-hold";
@import "main-page/footer-main/soc-net";
@import "main-page/footer-main/footer-main-box";
@import "main-page/footer-main/footer-main-logo";
@import "main-page/footer-main/footer-main-menu";



@import "main-page/articles/articles-desktop-list";


@import "main-page/reviews/reviews-desktop-list";


