.header-main-language-list {
  display: flex;
  align-items: center;

  & a {
    margin: 0 0 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 19px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    padding: 3px 10px;
    border-radius: 2px;

    &.act {
      font-weight: bold;
      background: #333;

    }
  }
}